
.header {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

	.logoLink {
    position: relative;
		width: 110px;
    height: 40px;
    border-bottom: none;
	}

  .logoSvg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0deg)translate(-50%, -50%);
    transition: all 0.25s ease-in-out;

    &--fish { animation: switchFish 20s infinite; }
    &--text { animation: switchText 20s infinite; }
  }

  &.active {
    .logoSvg { fill: $color-white !important; }
  }

	.burger__wrapper {

	  &:hover {
	  	cursor: pointer;
	  }
	}
}