.header {
  position: absolute;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

	.logoLink {
		width: 110px;
    padding: $spacing;
    height: 50px;
	}

	.logoSvg {}

	.burger__wrapper {

	  &:hover {
	  	cursor: pointer;
	  }
	}
}