{% extends "base.twig" %}

{% block content %}
	<div class="contentWrapper">
		<article class="postType postType--{{ post.post_type }}" id="post-{{ post.ID }}">
			
			<h1 class="articleTitle u-visually-hidden">{{ post.title }}</h1>
			
			<div class="row">
				{% for item in blocks %}
					{% include 'components/dynamic-block.twig' %}
				{% endfor %}
			</div>

		</article>
	</div>
{% endblock %}
