<div class="burger__wrapper" aria-hidden="true" {% if menuColor %}style="border-color:{{menuColor}};"{% endif %}>
	<div class="burger">
		<div class="burger__bar" {% if menuColor %}style="background:{{menuColor}};"{% endif %}></div>
		<div class="burger__bar" {% if menuColor %}style="background:{{menuColor}};"{% endif %}></div>
		<div class="burger__bar" {% if menuColor %}style="background:{{menuColor}};"{% endif %}></div>
	</div>
</div>